---
import LayoutBase from "./layout/LayoutBase.astro";
import Navbar from "./components/Navbar.astro";
import Footer from "./components/Footer.astro";
import Card from "./components/Card.astro";

const { title } = Astro.props;

---
<LayoutBase title="Home page">
	<Navbar />

	<div class="container">
		<p class="display-3">Seu titúlo</p>
		<Card />
	</div>

	<Footer />
</LayoutBase>